body {
	background: gray url("bg_texture.png") top left;
	font-family: 'Share Tech Mono', sans-serif;
}

h1 {
	text-align: center;
	width:auto;
}

p {
	font-size: 2em;
	text-align: center;
}

.clear {
	height: 0;
	font-size: 1px;
	margin: 0;
	padding: 0;
	line-height: 0;
	clear: both;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	}

#wrapper {
	width: 80%;
	height: 90%;
	margin-right: auto; 
	margin-left: auto;
}

#header {
	margin-top: 1em;
}

#header h1 {
	padding: 10px;
}

#menu {
	position: absolute;
	top: 100%;
	width: 100%;
	padding: 5px;
	display: none;
}

#main {
	width:60%;
	height: 75%;
	padding: 20px;
	margin-left:auto;
	margin-right: auto;
	display:none;
}

#menu a {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	padding: 3px;
}

#content {
	opacity: 1.0;
}

.selected { 
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	background: gray;
	opacity: 0.80;
	color: white;
}

#main p {
	opacity=1.0;
}

#bio {

}
